body,
html {
  margin: 0px;
  padding: 0px;
}

/* <navbar> */
/* Gaya untuk navbar */
.navbar {
  width: 100%;
  /* Atur lebar navbar agar memenuhi halaman */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10287A;
}

.brand {
  display: flex;
  font-size: 1.5em;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  margin-right: 40px;
}

.firstname {
  color: white;
  font-weight: 550;
  font-size: 30px;
  margin-right: 5px;
}

.lastname {
  font-size: 30px;
  color: #FFD600;
  margin-left: 0px;
  font-weight: 550;
}

/* Gaya untuk konten navbar */
.navbar-content {
  width: 100%;
  /* Atur lebar konten navbar */
  display: flex;
  justify-content: space-between;
  /* Membuat tautan navbar tersebar secara merata */
  align-items: center;
  margin-right: 15px;
}

/* Gaya untuk tautan navbar */
.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  transition: all 0.1s ease;
}

/* Mengubah warna tautan navbar saat dihover */
.navbar a:hover {
  border-radius: 5px;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  color: white;
}


/* Style untuk tautan aktif (halaman saat ini) */
.active {
  border-radius: 5px;
  background-color: white !important;
  border-bottom: 3px solid white !important;
  border-top: 3px solid white !important;
  color: black !important;
}

/* Gaya untuk konten halaman */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Menetapkan tinggi sesuai dengan tinggi viewport */
}

.btn {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: yellow;
  flex-direction: row;
  display: flex;
  /* Mengatur tata letak flexbox */
  align-items: center;
  /* Mengatur item sejajar dengan center */
  margin-left: 50px;
  margin-right: 20px;
}

.btn>a {
  color: black;
}

.btn>a:hover {
  color: black;
  background-color: transparent;
  border-bottom: none;
  border-top: none;
}

.navbar .navbar-content h1 {
  color: white;
  margin-right: 50px;
}

.img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px;
  /* Menambahkan jarak ke arah kanan */
}

/* <konten> */
.container1 {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #10287A, #0d6fc0);
  /* Gradien dari atas (#10287A) ke bawah (#000) */
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.container1>img {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

.data-sekolah {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.akreditas {
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  padding: 40px 70px;
  background-color: white;
  margin-top: -50px;
  border-radius: 14px;
  text-align: center;
  width: 150px;
  height: 120px;
  /* font-size:1.3em; */
}

.akreditas>p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.akreditas>span {
  padding: 5px 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #FFD600;
  justify-content: center;
  border-radius: 5px;
}

.guru {
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  padding: 40px 70px;
  background-color: white;
  margin-top: -50px;
  border-radius: 14px;
  text-align: center;
  width: 150px;
  height: 120px;
}

.guru>p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.guru>span {
  padding: 5px 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #FFD600;
  justify-content: center;
  border-radius: 5px;
}

.guru>img {
  margin-bottom: 17px;
}

.siswa {
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  padding: 40px 70px;
  background-color: white;
  margin-top: -50px;
  border-radius: 14px;
  text-align: center;
  width: 150px;
  height: 120px;
}

.siswa>p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.siswa>span {
  padding: 5px 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #FFD600;
  justify-content: center;
  border-radius: 5px;
}

.siswa>img {
  margin-bottom: 22px;
}

.container2 {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* Gradien dari atas (#10287A) ke bawah (#000) */
  padding-top: 20px;
}

.content1-container2 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.left-content1-conainer2 {
  flex-direction: row;
  margin-left: 100px;
  align-items: center;
}

.left-content1-conainer2>span {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 20px;
  font-size: 25px;
  color: #10287A;
}

.right-content1-conainer2 {
  flex-direction: row;
  margin-left: 550px;
}

.right-content1-conainer2>span {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 10px;
  font-size: 25px;
  color: #10287A;
}

.content2-container2 {
  flex-direction: row;
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
}

.card {
  width: 300px;
  /* Sesuaikan lebar card sesuai kebutuhan */
  border: 1px solid #ccc;
  /* Atur border card */
  border-radius: 5px;
  /* Atur border radius untuk sudut card */
  overflow: hidden;
  /* Pastikan foto tidak keluar dari card */
  margin-left: 20px;
}

.card img {
  width: 100%;
  /* Pastikan foto mengisi lebar card */
  height: auto;
  /* Biarkan tinggi foto menyesuaikan proporsi */
}

.card .text {
  padding: 20px;
  /* Atur ruang di sekitar teks */
}

.card h2 {
  margin-bottom: 10px;
  /* Atur jarak antara judul dan teks biasa */
}

.card p {
  margin: 0;
  /* Hilangkan margin bawaan */
}

.kanan {
  flex-direction: column;
  margin-left: 30px;
  display: flex;
}

.content-event {
  width: 500px;
  display: flex;
  flex-direction: row;
  border: 1px black solid;
  margin-bottom: 10px;
}

.tulisan-kiri {
  border-right: 1px solid black;
  width: 80px;
  height: 85px;
  text-align: center;
  overflow: hidden;
}

.tulisan-kiri>h1 {
  margin-top: 5px;
}

.tulisan-kanan {
  flex-direction: column;
  margin-left: 10px;
}

.tulisan-kanan>p {
  margin-top: 5px;
}

.container3 {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #FFD600;
}

.text-left {
  color: #10287A;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: bold;
  /* menambahkan ketebalan huruf */
}

.text-right {
  display: inline-block;
  flex-direction: row;
  margin-left: 600px;
  margin-top: 60px;
}

.text-right>a {
  color: #10287A;
  text-decoration: none;
  /* menghapus garis bawah */
  font-size: 1.5em;
  /* memperbesar ukuran tulisan */
  padding: 5px 30px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 40px;
  font-weight: bold;
  /* menambahkan ketebalan huruf */
}

/* footer start */
footer {
  background-color: #10287a;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.link-alamat p {
  margin-left: 300px;
  display: inline-block;
  /* Mengatur elemen <p> agar tampil dalam satu baris */
  margin-right: 20px;
  /* Memberikan jarak antar kata */
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}

.rectangle {
  display: block;
  margin-right: 15px;
  width: 52px;
  height: 52px;
  border-radius: 20%;
  background-color: #ffd600;
  float: left;
  margin-left: 20px;
  position: relative; /* Menambahkan posisi relatif */
  overflow: hidden; /* Menyembunyikan bagian gambar yang melampaui batas border-radius */
}
.rectangle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Memastikan gambar mengisi seluruh rectangle tanpa merusak proporsi */
  position: absolute; /* Memastikan gambar menutupi seluruh rectangle */
  top: 0;
  left: 0;
  border-radius: 20%; /* Menambahkan border-radius yang sama untuk gambar */
}

.nama-smp h1 {
  margin-top: 40px;
  display: block;
  letter-spacing: 4px;
  color: #ffffff;
}

.nama-smp span {
  color: #ffd600;
}

.nama-smp p {
  display: block;
  color: #ffffff;
  margin-left: 20px;
}

.footer-container {
  width: 100%;
  height: 370px;
  padding: 10px 0px 20px;
}

.link-bawah {
  margin-left: 750px;
  font-size: larger;
  margin-top: -150px;
  padding: 0;
  justify-content: left;
  text-align: left;
}

.link-bawah>a {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins";
  line-height: 30px;
  text-transform: capitalize;
}

.sosialicons {
  margin-left: 980px;
  margin-top: -246px;
  padding: 0;
  justify-content: left;
  text-align: left;
  margin-bottom: 20px;
}

.sosialicons>h3 {
  color: #ffffff;
}

.sosialicons>a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  line-height: 35px;
}

.footer-bottom {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 18px;
}

.footer-bottom span {
  font-weight: bold;
}

.horizontal-line {
  border-top: 1px solid rgb(253, 253, 253);
  width: 100%;
}

.footer-bottom .angka {
  color: yellow;
}

/* footer end */